{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block activeHeader %}
    <a class="nav-link" href="{% url 'home' %}">Home</a>
    <a class="nav-link active" href="{% url 'about me' %}">Now</a>
    <a class="nav-link" href="{% url 'writings' %}">Writings</a>
{% endblock %}

{% block content %}
<p>Last updated: <b>March 26th, 2020</b>.</p>

<b>The purpose of the page is to share what I&rsquo;m up to and working on currently.</b>

<ul>
<li> Living near Boston in Somerville though I am traveling 1-2 times a month for work</li>
<li> Currently working at Wayfair as a product manager for the delivery network. I focus on improving workflows for our users in the warehouse and creating systems that can accurately measure and forecast inventory and capacity.</li>
<li> Performing Improv with High Snakes. I learned improv and ImprovBoston where I also met some fo the people who formed High Snakes.</li>
<li> Getting into a steady habit of writing every single day</li>
</ul>

<b> What I'm Currently Learning</b>
<ul>
<li> LessWrong</li>
<li> Flashcards (mental models)</li>
</ul>

<b>To Stay Sane I:</b>
<ul>
    <li> Work out 5 times a week </li>
    <li> Run 2x a week  </li>
    <li> Walk 5x a week </li>
    <li> Meditate 15 minutes a day </li>
    <li> Journal 20 minutes a day</li>
</ul>

<p>Other things I&rsquo;m up to&#8230; Listening to lots of podcasts and reading a ton of books. Exploring scotch, wine, and coffee.</p>

<!-- <a class="nav-link" href="{% static 'assets/Bhanderi_Shreenath_Resume.pdf' %}">My Resume</a>-->
{% endblock %}